**/.DS_Store
**/.Rhistory
**/*.RData
**/~$*.pptx
html/**/*.md
html/**/*.pptx
html/analysis_scripts
html/data/
html/figures/
html/images/source
html/rdata/
html/server_setup/
html/tables/
source/data/*
source/scripts/*
source/results/*
source/*_cache
html/data/*
html/scripts/*
html/results/*
html/workshop_setup/*.Rmd
._*
.Rproj.user
